@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1em;
  line-height: 27px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fcfcfc;
  font-family: "Mukta", sans-serif;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
  color: #17222b;
}

.h-tech {
  height: 450px;
}

.post-overlay {
  height: 100%;
  min-height: 424px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.post-overlay > a::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.88),
    rgba(0, 0, 0, 0.68),
    transparent,
    transparent,
    transparent
  );
  z-index: 4;
}
.ql-editor {
  min-height: 400px !important;
}
